@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

.nav-link-animated {
  position: relative;
  padding-bottom: 5px;
}

.nav-link-animated::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 2px;
  background-color: #f2c35e;
  transition: width 0.3s ease-in-out;
}

.font-cursive-logo {
  font-family: "Dancing Script", cursive;
}

.nav-link-animated:hover::after {
  width: 100%;
}

.logo-link {
  transition: transform 0.3s ease;
  display: inline-block;
}

.logo-link:hover {
  transform: scale(1.05);
}
